/* pro-light-theme start */

.pro-light-theme.pro-light-theme  {
  position: relative;
  margin: 0;
  min-width: 1408px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-image: url("./themes/light-pro/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: calc(50vw + 16px);
}

.pro-light-theme .container {
  max-width: 1408px;
  margin: 0 auto;
  padding: 0 16px;
}

.pro-light-theme .page-header {
  margin: 0 0 140px;
  padding: 32px 0;
}

.pro-light-theme .page-header a {
  margin-right: 56px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #8da2ed;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.pro-light-theme .page-header a:focus,
.pro-light-theme .page-header a:hover {
  border-bottom: 1px solid #8da2ed;
  filter: hue-rotate(50deg);
}

.pro-light-theme .page-header a:active {
  filter: hue-rotate(0);
  opacity: 0.6;
}

.pro-light-theme .header-email {
  padding-left: 30px;
  background-image: url("./themes/light-pro/img/icon-email-header.svg");
}

.pro-light-theme .header-phone {
  padding-left: 25px;
  background-image: url("./themes/light-pro/img/icon-phone-header.svg");
}

.pro-light-theme .theme-button {
  color: #6653d9;
  padding: 10px 10px;
  border: 1px solid #6653d9;
}

.pro-light-theme .theme-button:focus,
.pro-light-theme .theme-button:hover {
  color: #ffffff;
  background-color: #6653d9;
}

.pro-light-theme .hero-image {
  position: relative;
  height: 564px;
}

.pro-light-theme .hero-image .container {
  padding-left: 0;
  padding-right: 0;
  background-image: url("./themes/light-pro/img/dotted-border-v.svg");
  background-repeat: repeat-y;
  background-position: top left;
}

.pro-light-theme .heading {
  margin: 0 0 40px;
  padding-left: 116px;
  width: 928px;
  font-size: 104px;
  line-height: 120px;
  letter-spacing: -2px;
  font-weight: 400;
  color: #8da2ed;
}

.pro-light-theme .hero-image p {
  margin: 0;
  padding-left: 128px;
  padding-bottom: 16px;
  font-size: 32px;
  line-height: 48px;
}

.pro-light-theme .intro {
  margin: 0 0 160px;
  padding-top: 240px;
  padding-bottom: 80px;
  background-color: #fafbfd;
}

.pro-light-theme .subheading {
  margin: 0 0 56px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.pro-light-theme .intro .container {
  position: relative;
}

.pro-light-theme .intro .subheading {
  position: absolute;
  top: -320px;
  left: 48px;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
}

.pro-light-theme .intro .subheading::before {
  position: absolute;
  content: "";
  top: 4px;
  left: -32px;
  width: 16px;
  height: 28px;
  background-image: url("./themes/light-pro/img/icon-scroll.svg");
  background-repeat: no-repeat;
}

.pro-light-theme .user-image {
  margin: 0 0 32px;
}

.pro-light-theme .user-image img {
  position: absolute;
  top: -30px;
  left: 700px;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.pro-light-theme .intro .container div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 120px 160px;
  min-height: 400px;
}

.pro-light-theme .intro .user-image + div {
  margin-left: 600px;
}

.pro-light-theme .intro .container > div::before,
.pro-light-theme .intro .container > div::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.pro-light-theme .intro .container div:nth-of-type(1)::before {
  top: 0;
  right: -120px;
  width: 144px;
  height: 64px;
  background-image: url("./themes/light-pro/img/decor-dots1.svg");
}

.pro-light-theme .intro .container div:nth-of-type(2)::before {
  top: 0;
  left: -120px;
  width: 144px;
  height: 64px;
  background-image: url("./themes/light-pro/img/decor-dots2.svg");
}

.pro-light-theme .intro h3,
.pro-light-theme .portfolio h3 {
  margin: 0 0 16px;
  width: 688px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.pro-light-theme .intro p {
  margin: 0;
  width: 688px;
}

.pro-light-theme .intro .container div:nth-of-type(2) {
  margin-right: 0;
  background-image: url("./themes/light-pro/img/abilities.jpg");
  background-position: right;
  background-repeat: no-repeat;
}

.pro-light-theme .intro .container .skills {
  min-height: unset;
}

.pro-light-theme .skills::before {
  top: 0;
  right: -120px;
  width: 64px;
  height: 64px;
  background-image: url("./themes/light-pro/img/decor-dots3.svg");
}

.pro-light-theme .skills::after {
  bottom: -56px;
  left: -120px;
  width: 64px;
  height: 24px;
  background-image: url("./themes/light-pro/img/decor-dots4.svg");
}

.pro-light-theme .skills h3 {
  margin-bottom: 56px;
  padding-top: 350px;
}

.pro-light-theme .skills-list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}

.pro-light-theme .skills-list dt {
  flex-shrink: 0;
  padding-left: 82px;
  width: 480px;
  height: 72px;
  font-size: 24px;
  letter-spacing: 1px;
  background-repeat: no-repeat;
  background-position: left;
}

.pro-light-theme .skill-html {
  background-image: url("./themes/light-pro/img/icon-html.svg");
}

.pro-light-theme .skill-css {
  margin-left: 48px;
  background-image: url("./themes/light-pro/img/icon-css.svg");
}

.pro-light-theme .level {
  position: absolute;
  top: 32px;
  margin: 4px 0 16px;
  padding: 0;
  height: 32px;
  width: 478px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #dee5fb;
}

.pro-light-theme .skill-html + .level {
  left: 82px;
}

.pro-light-theme .skill-css + .level {
  left: 690px;
}

.pro-light-theme .skills .level div {
  margin: 4px;
  height: 24px;
  min-height: unset;
  background-color: #8da2ed;
  background-image: url("./themes/light-pro/img/progress-pattern.svg");
}

.pro-light-theme .portfolio {
  margin: 0 0 208px;
}

.pro-light-theme .projects {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pro-light-theme .portfolio .projects li:nth-child(2n) {
  margin-right: 0;
}

.pro-light-theme .projects li {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 32px 32px 0;
  padding: 72px 100px 80px;
  width: 488px;
  height: 248px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 8px rgba(48, 81, 201, 0.3);
}

.pro-light-theme .projects li::before {
  position: absolute;
  content: "";
  top: 24px;
  left: 24px;
  width: 64px;
  height: 64px;
  background-image: url("./themes/light-pro/img/decor-dots5.svg");
  background-repeat: no-repeat;
}

.pro-light-theme .projects li::after {
  position: absolute;
  content: "";
  bottom: 24px;
  right: 24px;
  width: 64px;
  height: 24px;
  background-image: url("./themes/light-pro/img/decor-dots4.svg");
  background-repeat: no-repeat;
}

.pro-light-theme .projects li:hover {
  box-shadow: 0 12px 32px rgba(48, 81, 201, 0.4);
  transition: box-shadow 150ms;
}

.pro-light-theme .projects li:hover > .project-image {
  display: none;
}

.pro-light-theme .project-image {
  margin: 200px 0 24px;
  text-align: center;
}

.pro-light-theme .project-image img {
  width: 688px;
  height: 400px;
  object-fit: cover;
}

.pro-light-theme .projects h3 {
  margin-bottom: 24px;
  width: unset;
  font-size: 24px;
  line-height: 32px;
  text-transform: none;
}

.pro-light-theme .projects p {
  margin: 0;
  height: 128px;
  overflow: hidden;
}

.pro-light-theme .button {
  position: relative;
  margin: auto 72px -10px;
  padding: 10px 0 10px 28px;
  display: block;
  font-size: 20px;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #8da2ed;
  border: 1px solid #8da2ed;
}

.pro-light-theme .button::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 14px;
  left: 29px;
  background-image: url("./themes/light-pro/img/icon-open-page.svg");
}

.pro-light-theme .button:focus,
.pro-light-theme .button:hover {
  margin-bottom: -10px;
  color: #ffffff;
  border-color: #c98ded;
  background-color: #c98ded;
  transition: border-color 150ms, background-color 150ms;
}

.pro-light-theme .button:active {
  opacity: 0.6;
}

.pro-light-theme .button:focus::before,
.pro-light-theme .button:hover::before,
.pro-light-theme .button:active::before {
  filter: brightness(100);
}

.pro-light-theme .button2 {
  position: relative;
  margin: auto 72px -10px;
  padding: 10px 0 10px 28px;
  display: block;
  font-size: 20px;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #8da2ed;
  border: 1px solid #8da2ed;
}

.pro-light-theme .button2::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 14px;
  left: 29px;
  background-image: url("./themes/light-pro/img/icon-open-page.svg");
}

.pro-light-theme .button2:focus,
.pro-light-theme .button2:hover {
  margin-bottom: -10px;
  color: #ffffff;
  border-color: #c98ded;
  background-color: #c98ded;
  transition: border-color 150ms, background-color 150ms;
}

.pro-light-theme .button2:active {
  opacity: 0.6;
}

.pro-light-theme .button2:focus::before,
.pro-light-theme .button2:hover::before,
.pro-light-theme .button2:active::before {
  filter: brightness(100);
}

.pro-light-theme .page-footer {
  padding: 40px 0;
  background-color: #8da2ed;
}

.pro-light-theme .page-footer a {
  margin-right: 56px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  opacity: 0.8;
}

.pro-light-theme .page-footer a:focus,
.pro-light-theme .page-footer a:hover {
  opacity: 1;
  border-bottom: 1px solid #ffffff;
}

.pro-light-theme .page-footer a:active {
  opacity: 0.6;
}

.pro-light-theme .footer-email {
  padding-left: 30px;
  background-image: url("./themes/light-pro/img/icon-email-footer.svg");
}

.pro-light-theme .footer-phone {
  padding-left: 25px;
  background-image: url("./themes/light-pro/img/icon-phone-footer.svg");
}

.pro-light-theme h3 {
  padding-top: 20px;
}

/* pro-light-theme end */

/* pro-dark-theme start*/ 

.pro-dark-theme {
  position: relative;
  margin: 0;
  min-width: 1408px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #f2f2f2;
  background-color: #141530;
  background-image: url("./themes/dark-pro/img/pattern-lines-hero.svg");
  background-position: center;
}

.pro-dark-theme .container {
  max-width: 1408px;
  margin: 0 auto;
  padding: 0 16px;
}

.pro-dark-theme .page-header {
  margin: 0;
  padding: 40px 0;
}

.pro-dark-theme .page-header a,
.pro-dark-theme .page-footer a {
  position: relative;
  margin-right: 64px;
  padding-bottom: 10px;
  padding-top: 9px;
  font-weight: 500;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  color: inherit;
}

.pro-dark-theme .page-header a:focus,
.pro-dark-theme .page-header a:hover,
.pro-dark-theme .page-footer a:focus,
.pro-dark-theme .page-footer a:hover {
  color: #f9dd79;
}

.pro-dark-theme .page-header a::after,
.pro-dark-theme .page-footer a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f9dd79;
  transition: width 200ms;
}

.pro-dark-theme .page-header a:hover::after,
.pro-dark-theme .page-footer a:hover::after {
  width: 100%;
}

.pro-dark-theme .header-email,
.pro-dark-theme .footer-email {
  padding-left: 28px;
  background-image: url("./themes/dark-pro/img/icon-email.svg");
}

.pro-dark-theme .header-email:focus,
.pro-dark-theme .header-email:hover,
.pro-dark-theme .footer-email:focus,
.pro-dark-theme .footer-email:hover {
  background-image: url("./themes/dark-pro/img/icon-email-alt.svg");
}

.pro-dark-theme .header-phone,
.pro-dark-theme .footer-phone {
  padding-left: 21px;
  background-image: url("./themes/dark-pro/img/icon-phone.svg");
}

.pro-dark-theme .header-phone:focus,
.pro-dark-theme .header-phone:hover,
.pro-dark-theme .footer-phone:focus,
.pro-dark-theme .footer-phone:hover {
  background-image: url("./themes/dark-pro/img/icon-phone-alt.svg");
}

.pro-dark-theme .page-header a:active,
.pro-dark-theme .page-footer a:active {
  opacity: 0.5;
}

.pro-dark-theme .theme-button {
  color: #6653d9;
  background-color: #6653d9;
  padding: 10px 10px;
  border: 1px solid #6653d9;
}

.pro-dark-theme .theme-button:focus,
.pro-dark-theme .theme-button:hover {
  color: #ffffff;
  background-color: #6653d9;
}

.pro-dark-theme .hero-image {
  position: relative;
  padding-top: 200px;
  height: 798px;
  background-image: url("./themes/dark-pro/img/bg-html.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 48px;
}

.pro-dark-theme .hero-image .container {
  display: flex;
  flex-direction: column;
}

.pro-dark-theme .hero-image::before {
  position: absolute;
  content: "";
  top: 24px;
  left: calc(50vw - 32px);
  width: 800px;
  height: 800px;
  background-image: url("./themes/dark-pro/img/hero-image.svg");
  background-repeat: no-repeat;
}

.pro-dark-theme .hero-image::after {
  position: absolute;
  content: "";
  height: 200px;
  width: 100%;
  bottom: 0;
  background-color: #0b0c23;
  background-image: url("./themes/dark-pro/img/bg-tags.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-top: 2px solid #5053a8;
}

.pro-dark-theme .heading {
  z-index: 1;
  order: 2;
  margin: 0 0 0 -10px;
  width: 815px;
  font-size: 96px;
  line-height: 112px;
  font-weight: 500;
}

.pro-dark-theme .hero-image p {
  z-index: 1;
  order: 1;
  margin: 0;
  padding: 32px 0;
  padding-bottom: 16px;
  font-size: 32px;
  line-height: 48px;
  color: #f9dd79;
}

.pro-dark-theme .intro,
.pro-dark-theme .portfolio {
  background-color: #141530;
  background-image: url("./themes/dark-pro/img/pattern-lines.svg");
  background-repeat: repeat-y;
  background-position-x: center;
}

.pro-dark-theme .intro {
  padding-top: 160px;
  padding-bottom: 120px;
  min-height: 828px;
}

.pro-dark-theme .subheading {
  margin: 0 0 100px;
  text-align: center;
  font-size: 72px;
  line-height: 88px;
  font-weight: 500;
  color: #f9dd79;
}

.pro-dark-theme .intro .container {
  position: relative;
}

.pro-dark-theme .user-image {
  position: absolute;
  margin: 0;
}

.pro-dark-theme .user-image img {
  width: 640px;
  height: 640px;
  object-fit: cover;
}

.pro-dark-theme .intro .container div {
  margin-left: 720px;
  margin-bottom: 56px;
}

.pro-dark-theme .intro h3,
.pro-dark-theme .portfolio h3 {
  margin: 40px 0 16px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

.pro-dark-theme .intro p {
  margin: 0;
  z-index: 2;
}

.pro-dark-theme .skills {
  margin-bottom: 0;
}

.pro-dark-theme .skills h3 {
  margin-bottom: 40px;
}

.pro-dark-theme .skills-list {
  margin: 0;
  padding: 0;
}

.pro-dark-theme .skills-list dt {
  margin: 0 0 8px;
  padding-left: 46px;
  height: 36px;
  font-size: 24px;
  letter-spacing: 1px;
  background-repeat: no-repeat;
  background-position: left;
}

.pro-dark-theme .skill-html {
  background-image: url("./themes/dark-pro/img/icon-html.svg");
}

.pro-dark-theme .skill-css {
  background-image: url("./themes/dark-pro/img/icon-css.svg");
}

.pro-dark-theme .level {
  margin: 0 0 40px;
  height: 24px;
  text-align: right;
  background-color: #0b0c23;
  box-shadow: inset 0 0 12px #070716;
  border-radius: 12px;
  overflow: hidden;
}

.pro-dark-theme .skills .level div {
  margin: 0;
  height: 24px;
  letter-spacing: 1px;
  line-height: 26px;
  background-color: #5053a8;
  background-image: url("./themes/dark-pro/img/progress-pattern.svg");
}

.pro-dark-theme .portfolio {
  margin: 0;
  padding-bottom: 160px;
}

.pro-dark-theme .projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pro-dark-theme .projects li {
  position: relative;
  min-height: 256px;
  margin: 0 0 100px;
  padding-left: 528px;
}

.pro-dark-theme .project-image {
  margin: 0 0 24px;
  text-align: center;
}

.pro-dark-theme .projects p {
  margin: 0 0 32px;
}

.pro-dark-theme .button {
  margin: 0;
  padding: 8px 24px;
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0b0c23;
  background-color: #f9dd79;
  box-shadow: 0 4px 16px rgba(249, 221, 121, 0.4);
  border-radius: 24px;
  transition: background-color 100ms, box-shadow 100ms;
  margin-bottom: 300px;
}

.pro-dark-theme .button:focus,
.pro-dark-theme .button:hover {
  background-color: #f9e7a8;
  box-shadow: 0 4px 32px rgba(249, 221, 121, 0.6);
}

.pro-dark-theme .button:active {
  background-color: #b69e4b;
  box-shadow: none;
}

.pro-dark-theme .button2 {
  margin: 0;
  padding: 8px 24px;
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0b0c23;
  background-color: #f9dd79;
  box-shadow: 0 4px 16px rgba(249, 221, 121, 0.4);
  border-radius: 24px;
  transition: background-color 100ms, box-shadow 100ms;
  margin-bottom: 300px;
}

.pro-dark-theme .button2:focus,
.pro-dark-theme .button2:hover {
  background-color: #f9e7a8;
  box-shadow: 0 4px 32px rgba(249, 221, 121, 0.6);
}

.pro-dark-theme .button2:active {
  background-color: #b69e4b;
  box-shadow: none;
}

.pro-dark-theme .page-footer {
  padding: 40px 0;
  background-color: #212349;
}

/* pro-dark-theme end*/

/* basic-dark-theme start*/

.basic-dark-theme {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #f2f2f2;
  background-color: #080208;
  background-image: url("themes/dark-basic/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.basic-dark-theme .container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.basic-dark-theme .page-header {
  margin: 0 0 180px;
  padding: 32px 0 32px;
}

.basic-dark-theme .page-header .container,
.basic-dark-theme .page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.basic-dark-theme .page-header a {
  margin-left: 56px;
  color: #fea18d;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.basic-dark-theme .header-email {
  padding-left: 30px;
  background-image: url("themes/dark-basic/img/icon-email.svg");
}

.basic-dark-theme .header-phone {
  padding-left: 25px;
  background-image: url("themes/dark-basic/img/icon-phone.svg");
}

.basic-dark-theme .hero-image {
  margin-bottom: 480px;
}

.basic-dark-theme .hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.basic-dark-theme .heading {
  margin: 0 0 24px;
  font-size: 80px;
  line-height: 96px;
}

.basic-dark-theme .hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.basic-dark-theme .intro {
  margin: 0 0 120px;
}

.basic-dark-theme .subheading {
  margin: 0 0 56px;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
}

.basic-dark-theme .theme-button {
  color: #6653d9;
  padding: 10px 10px;
  border: 1px solid #712073;
}

.basic-dark-theme .theme-button:focus,
.basic-dark-theme .theme-button:hover {
  color: #ffffff;
  background-color: #712073;
}

.basic-dark-theme .user-image {
  margin: 0 0 32px;
  text-align: center;
}

.basic-dark-theme .intro h3,
.basic-dark-theme .portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.basic-dark-theme .intro p {
  margin: 0 0 32px;
}

.basic-dark-theme .skills-list {
  margin: 0;
  padding: 0;
}

.basic-dark-theme .skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.basic-dark-theme .skill-html {
  background-image: url("themes/dark-basic/img/icon-html.svg");
}

.basic-dark-theme .skill-css {
  background-image: url("themes/dark-basic/img/icon-css.svg");
}

.basic-dark-theme .level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #080208;
  border: 1px solid #712073;
  border-radius: 8px;
}

.basic-dark-theme .level div {
  margin: 1px;
  height: 12px;
  background-color: #fea18d;
  border-radius: 6px;
}

.basic-dark-theme .portfolio {
  margin: 0 0 120px;
}

.basic-dark-theme .projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.basic-dark-theme .projects li {
  margin: 0 0 80px;
}

.basic-dark-theme .project-image {
  margin: 0 0 24px;
  text-align: center;
}

.basic-dark-theme .projects p {
  margin: 0 0 24px;
}

.basic-dark-theme .button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #712073;
  color: #ffffff;
}

.basic-dark-theme .page-footer {
  padding: 40px 0;
  background-color: #260c26;
}

.basic-dark-theme .page-footer a {
  margin-left: 56px;
  color: #fea18d;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.basic-dark-theme .footer-email {
  padding-left: 30px;
  background-image: url("themes/dark-basic/img/icon-email.svg");
}

.basic-dark-theme .footer-phone {
  padding-left: 25px;
  background-image: url("themes/dark-basic/img/icon-phone.svg");
}

/* basic-dark-theme end*/

/* basic-light-theme start*/

.basic-light-theme {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #f2f4f6;
  background-image: url("themes/light-basic/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.basic-light-theme .container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.basic-light-theme .page-header {
  margin: 0 0 160px;
  padding: 32px 0 32px;
}

.basic-light-theme .page-header .container,
.basic-light-theme .page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.basic-light-theme .page-header a {
  margin-left: 56px;
  color: #288be6;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.basic-light-theme .header-email {
  padding-left: 30px;
  background-image: url("themes/light-basic/img/icon-email-header.svg");
}

.basic-light-theme .header-phone {
  padding-left: 25px;
  background-image: url("themes/light-basic/img/icon-phone-header.svg");
}

.basic-light-theme .theme-button {
  color: #6653d9;
  padding: 10px 10px;
  border: 1px solid #86c3fa;
}

.basic-light-theme .theme-button:focus,
.basic-light-theme .theme-button:hover {
  color: #ffffff;
  background-color: #86c3fa;
}

.basic-light-theme .hero-image {
  margin-bottom: 620px;
}

.basic-light-theme .hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.basic-light-theme .heading {
  margin: 0 0 16px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}

.basic-light-theme .hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.basic-light-theme .intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.basic-light-theme .user-image {
  margin: 0 0 32px;
  text-align: center;
}

.basic-light-theme .intro h3,
.basic-light-theme .portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.basic-light-theme .intro p {
  margin: 0 0 32px;
}

.basic-light-theme .skills-list {
  margin: 0;
  padding: 0;
}

.basic-light-theme .skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.basic-light-theme .skill-html {
  background-image: url("themes/light-basic/img/icon-html.svg");
}

.basic-light-theme .skill-css {
  background-image: url("themes/light-basic/img/icon-css.svg");
}

.basic-light-theme .level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.basic-light-theme .level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.basic-light-theme .portfolio {
  margin: 0 0 120px;
}

.basic-light-theme .projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.basic-light-theme .projects li {
  margin: 0 0 80px;
}

.basic-light-theme .project-image {
  margin: 0 0 24px;
  text-align: center;
}

.basic-light-theme .projects p {
  margin: 0 0 24px;
}

.basic-light-theme .button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

.basic-light-theme .page-footer {
  padding: 40px 0;
  background-color: #00417d;
}

.basic-light-theme .page-footer a {
  margin-left: 56px;
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.basic-light-theme .footer-email {
  padding-left: 30px;
  background-image: url("themes/light-basic/img/icon-email-footer.svg");
}

.basic-light-theme .footer-phone {
  padding-left: 25px;
  background-image: url("themes/light-basic/img/icon-phone-footer.svg");
}

/* basic-light-theme end*/